{% block title%}
<title>students details</title>
{% endblock %}



  {% block content %}    
    <div class="container-fluid">
      <div class="container-fluid">
           
        <div class="col-md-12 main-container" style="background-color:white;box-shadow:1px  1px #fff;">
          <div class="text-center col-sm-5 image-container"  style="background-color: #ffffff;border-radius:3px;">
            <img src="{{ url_for('static', filename='images/profile_pic.PNG')}}" class="col-sm-12">
            {% for data in words%}
            <div class="col-sm-12" style="padding:3px">
              <h3 style="color:rgb(0, 0, 0);font-weight:bold"> {{data['fname']}} <br> 
                <span class="label label-info status"> undecided </span>
              </h3>
            </div>{% endfor %} 
          </div>
          <div class="col-sm-7 info-container">
            <legend  class="bg-info">Personal Information</legend>
            {% for data in words%}
            <div class="card col-sm-12">
              <h4 >Email: {{ data['email']}}</h4>
            </div>
            <div class="card col-sm-12">
            <h4>Gender: {{ data['gender']}} </h4>
            </div>
            <div class="card col-sm-12">
            <h4>Phone Number: {{ data['phone']}}</h4>
            </div>         
              <div class="card col-sm-12">
              <h4>Date Of Birth: {{ data['dob']}} </h4>
              </div>
              <div class="card col-sm-12">
              <h4>Address: {{ data['address']}} </h4>
              </div>{% endfor %}            
          </div>
          <div class="col-md-12" style="float:left;clear:left; margin-top:10px">
            <legend  class="bg-info">Other Information</legend>
            {% for data in words%}
            <div class="col-sm-3">
              <div class="card col-sm-12">
              <h4>State Of Origin: {{ data['state']}} </h4>
              </div>                
            </div>
            <div class="col-sm-3">
              <div class="card col-sm-12">
              <h4> Local Govt: {{ data['local']}} </h4>
              </div>        
            </div>          
          </div>{% endfor %} 
          <div class="col-md-12" style="float:left;clear:left; margin-top:10px">
            <legend  class="bg-info">Academics Related Information</legend>
            <div class="col-sm-3">
              <div class="card col-sm-12">
              {% for data in words%}
              <h4>Next Of Kin: {{ data['kin']}} </h4>
              </div>                
            </div>
            <div class="col-sm-3">
              <div class="card col-sm-12">
              <h4> Jamb Score: {{ data['score']}} </h4>
              </div>        
            </div>
            <div class="col-sm-6 row">
              <div class="col-sm-5">
                <h4 style="float:left;margin-left:5px;">Status: <span class="status"> undecided </span></h4>
              </div>
              <div class="col-sm-7">
                <h4 style="display: inline-block;">Change Status: </h4>
                <select  style="display: inline-block;margin-top: 10px;height: 30px;font-size: 18px;" name="status" id="status"  class="setStatus" onchange="setStatus(9)">
                  <option value="none">Change-Status</option>
                  
                  <option value="admitted">Admitted</option>
                  <option value="not_admitted">Not Admitted</option>
                </select> {% endfor %}        
              </div>
            </div>
          </div>          
        </div> 
             
      </div>
    </div>
    
  {% endblock %}